h1 {
  color: darkred;
  font-family: Arial, sans-serif;
  font-size: 40px;
  text-align: center;
}
p, li, a {
  color: #333;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align:left;
}
.pilt {
  border: 6px solid darkred;
}

.mangijad {
  border-collapse: collapse;
  width: 60%;
  margin: 20px auto;
}
.mangijad th {
  background-color: darkred;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #333;
}
.mangijad td {
  padding: 10px;
  border: 1px solid #333;
}
body {
  background-color: beige;
}