h1 {
  color: darkred;
  font-family: Arial, sans-serif;
  font-size: 40px;
  text-align: center;
}
p, li, a {
  color: #333;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align:left;
}

